@use 'variables' as *;
@use 'placeholders' as *;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

@media (max-width: 360px) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: $bg-main;
  font-family: $nunito;
  font-size: 1.6rem;
  color: $text-dark;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 1rem 2rem;
}

.section {
  @extend %card;
  @extend %flex-col-center;
  padding: 2rem 2rem 2.1rem;
}

.public-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}

.animation-img {
  max-width: 230px;
}
