@use 'sass:color';

// theme colors

:root {
  --color-bg-sec: #FFFFFF;
  --color-bg-main: #FAE0DB;
  --color-bg-timer: #E8E8E8;
  --color-main-dark: #FEBAAE;
  --color-bg-accent: #7CC6C6;
  --color-bg-accent-sec: #CBB1F8;
  --color-text-dark: #1F2937;
  --color-text-light: #474D56;
}

[data-theme='dark'] {
  // --color-bg-sec: #4f3750;
  --color-bg-sec: #322A3E;
  --color-bg-main: #231B2E;
  --color-bg-timer: #746b7e;
  --color-main-dark: #F8A9A4;
  --color-bg-accent: #6DCBCB;
  --color-bg-accent-sec: #B8A2F2;
  --color-text-dark: #FAFAFC;
  --color-text-light: #B6AEC7;
}


// variables
$bg-sec: var(--color-bg-sec);
$bg-main: var(--color-bg-main);
$bg-timer: var(--color-bg-timer);
$main-dark: var(--color-main-dark);
$bg-accent: var(--color-bg-accent);
$bg-accent-sec: var(--color-bg-accent-sec);
$text-dark: var(--color-text-dark);
$text-light: var(--color-text-light);

// font
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Inter:opsz,wght@14..32,100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');


// reset styles

h1,
h2,
p {
  margin: 0;
}

// global styles
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

@media (max-width: 360px) {
  html {
    font-size: 50%;
    /* Now 1rem = 8px */
  }
}

body {
  background-color: $bg-main;
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  color: $text-dark;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 1rem 2rem;
}

.section {
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: $bg-sec;
  padding: 2rem 2rem 2.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 15px;
  border-radius: 1.6rem;
  padding: 1rem 1.5rem 1.1rem;
  border: none;
  color: $bg-sec;
  cursor: pointer;
  background-color: $bg-accent;
  transition: opacity 0.3s ease;

  @media (any-hover:hover) {
    &:hover {
      opacity: 0.7;

    }
  }
}

.animation-img {
  max-width: 230px;

}

// global-section
.global-section {
  max-width: 670px;
  width: 100%;

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
  }
}

// app-info 
.app-info {
  display: flex;
  align-items: center;
  gap: 1.3rem;

  &__icon {
    background-color: $main-dark;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.3rem;
    width: 4.3rem;
    flex-shrink: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 1.9rem;
  }

  &__descr {
    font-size: 1.3rem;
    font-weight: 400;
  }
}

// restart-btn
.restart-btn {
  background-color: $bg-accent-sec;
}

// .global-progress-bar
.global-progress-bar {
  width: 100%;

  &__container {
    width: 100%;
    height: 11px;
    background-color: $bg-timer;
    position: relative;
    border-radius: 1.5rem;
  }

  &__fill {
    background-color: $bg-accent;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.5rem;
    transition: width 1s linear;


  }

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 1.3rem;
    color: $text-light;
    margin-bottom: 0.5rem;
  }

}

// stretch-info
.stretch-info {
  max-width: 504px;
  width: 100%;
  text-align: center;
  min-height: 380px;
  padding-top: 0;

  &__name {
    font-size: 2.4rem;
    margin-bottom: 5px;
    margin-top: auto;
  }

  &__description {
    font-size: 1.5rem;
  }

  &__img {

    margin-top: 20px;
  }
}

// stretch-timer
.stretch-timer {
  max-width: 314px;
  width: 100%;

  &__container {
    margin-bottom: 15px;
  }

  &__timer {
    font-weight: 700;
    font-size: 3.4rem;
  }

  &__text {
    color: $text-light;
    font-size: 1.3rem;
  }
}

// .stretch-completed
.stretch-completed {
  text-align: center;

  &__title {
    font-size: 2.4rem;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 1.6rem;
  }

  // &__img {
  //   max-width: 260px;
  //   width: 100%;
  //   height: 300px;
  // }
}


// .theme-toggle
.theme-toggle-btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 1.2rem 1.4rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 2rem;
  background-color: $bg-accent-sec;
  color: $bg-sec;

}